###### В данном проекте мне было необходимо ответить на следующие вопросы, используя библиотеку pandas и имеющуюся файл bookings.csv

1) Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
2) Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
3) Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
4) На сколько ночей в среднем бронируют отели разных типов?
5) Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
6) Проанализируйте даты запланированного прибытия. 
</br> - На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
</br> - Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.
7) Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
8) Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?
9) Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [1]:
import pandas as pd

#файл передаю по url-ссылке, также сам файл приложу в репозиторий, который можно получить след. командой:
#bk = pd.read_csv('bookings.csv', sep =';')
bk = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep =';')
bk.head(3)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02

Приведем названия колонок к виду name_of_column

In [3]:
bk.columns = map(lambda x: x.lower().replace(" ", "_"), bk.columns)
bk.head(3)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02

Пользователи из каких стран совершили наибольшее число успешных бронирований?

In [4]:
bk.loc[bk.is_canceled == 0] \
.groupby('country', as_index = False) \
.agg({'lead_time' : 'count'}) \
.sort_values('lead_time', ascending = False) \
.head(5) \
.rename(columns = {'lead_time' : 'count_bookings'})
#выбрали не отмененные брони
#сгруппировали по странам и посчитали кол-во бронирований
#вывели топ-5 по кол-ву
#переименовали колонку

    country  count_bookings
125     PRT           21071
57      GBR            9676
54      FRA            8481
50      ESP            6391
42      DEU            6069

На сколько ночей в среднем бронируют отели типа City Hotel? Resort Hotel?

In [5]:
bk.groupby('hotel') \
.agg({'stays_total_nights' : 'mean'}) \
.round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [6]:
bk.loc[bk.assigned_room_type != bk.reserved_room_type].shape
#выбрали строки с разными показателями в данных колонках

(14917, 21)

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [7]:
#посчитаем сколько было броней в каждом месяце по годам
bk_by_moths = bk.groupby(['arrival_date_year', 'arrival_date_month'], as_index = False) \
.agg({'hotel' : 'count'})\
.rename(columns = {'hotel' : 'total_bookings'})

#группируем по годам, находим индекс самых загруженных месяцев и передаем их в метод .loc[]
bk_by_moths.loc[bk_by_moths.groupby('arrival_date_year')['total_bookings'].idxmax()]

    arrival_date_year arrival_date_month  total_bookings
5                2015          September            5114
16               2016            October            6203
25               2017                May            6313

На какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [8]:
#через метод .loc[] делаем нужную выборку, дальше аналогично предыдущему вопросу
canceled_bk_by_moths = bk.loc[(bk.hotel == "City Hotel") & (bk.is_canceled == 1)] \
.groupby(['arrival_date_year', 'arrival_date_month'], as_index = False) \
.agg({'hotel' : 'count'})\
.rename(columns = {'hotel' : 'total_bookings'})

canceled_bk_by_moths.loc[canceled_bk_by_moths.groupby('arrival_date_year')['total_bookings'].idxmax()]

    arrival_date_year arrival_date_month  total_bookings
5                2015          September            1543
16               2016            October            1947
25               2017                May            2217

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [9]:
bk.agg({'adults' : 'mean', 'children' : 'mean', 'babies' : 'mean'})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [10]:
bk['total_kids'] = bk.children + bk.babies
mean_total_kids = bk.groupby('hotel') \
.agg({'total_kids' : 'mean'}) \
.round(2)
mean_total_kids

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. В качестве ответа укажите наибольший %, округленный до 2 знаков после точки

In [11]:
bk['has_kids'] = (bk['total_kids'] > 0)
bk.groupby('has_kids')\
.agg({'is_canceled' : 'mean'})\
.round(4) * 100
#создали колонку с булевыми значениями, посчитали проценты оттока в 2 группах (с детьми и без), привели к нужному виду

          is_canceled
has_kids
False           37.22
True            34.92